include README.rst
include LICENSE
include ebstall/consts/*

include ovpn-server.conf
include eb-init.sh
include eb-systemd.conf
include dnsmasq.conf
include ebstall.sh
include ebstall-pki.sh
include ebstall-privspace.sh

